.img-fluid {
    @include img-fluid;
}

.img-thumbnail {
    padding: $thumbnail-padding;
    background-color: $thumbnail-background;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    box-shadow: $thumbnail-box-shadow;

    // Keep them at most 100% wide
    @include img-fluid;
}

figure {
    // Ensures the caption's text aligns with the image.
    display: inline-block;
}

figure img {
    margin-bottom: ($spacer / 2);
    line-height: 1;
}

figure caption {
    font-size: $figure-caption-font-size;
    color: $figure-caption-color;
}