@import './mixins.scss';

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
), $grays);

$blue:    #0067b8 !default;
$purple:  #68217a !default;
$pink:    #bf3073 !default;
$red:     #a51d29 !default;
$orange:  #da3b01 !default;
$yellow:  #fdb900 !default;
$green:   #107c10 !default;
$cyan:    #0093dc !default;

$colors: () !default;
$colors: map-merge((
    "blue":       $blue,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$caution:       $orange !default;
$error:         $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "caution":    $caution,
    "error":      $error,
    "light":      $light,
    "dark":       $dark,
    "blue":       $blue,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "cyan":       $cyan,
), $theme-colors);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
), $spacers);

$sizes: () !default;
$sizes: map-merge((
    25: 25%,
    33: 33%,
    50: 50%,
    67: 67%,
    75: 75%,
    100: 100%,
    auto: auto
), $sizes);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$theme-color-interval:      8% !default;
$yiq-contrasted-threshold:  150 !default;
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$border-radius:               .25rem !default;
$border-radius-large:            .3rem !default;
$border-radius-small:            .2rem !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$box-shadow-small:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-large:               0 1rem 3rem rgba($black, .175) !default;

$body-background:                   $white !default;
$body-color:                $gray-900 !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-normal:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-small:             80% !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$line-height-normal:            1.5 !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$h1-font-size:                $font-size-normal * 2.5 !default;
$h2-font-size:                $font-size-normal * 2 !default;
$h3-font-size:                $font-size-normal * 1.75 !default;
$h4-font-size:                $font-size-normal * 1.5 !default;
$h5-font-size:                $font-size-normal * 1.25 !default;
$h6-font-size:                $font-size-normal !default;

$hr-margin-y:                 $spacer !default;
$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;

$text-muted:                  $gray-600 !default;

$mark-padding:                .2em !default;
$mark-background:                      $yellow !default;

$link-color:                theme-color('primary') !default;
$link-decoration:           underline !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$small-font-size:             80% !default;

$blockquote-footer-color:      $gray-600 !default;
$blockquote-font-size:        ($font-size-normal * 1.25) !default;

$code-font-size:                    87.5% !default;
$code-color:                        $pink !default;

$kbd-padding-y:                     .2rem !default;
$kbd-padding-x:                     .4rem !default;
$kbd-font-size:                     $code-font-size !default;
$kbd-color:                         $white !default;
$kbd-background:                            $gray-900 !default;
$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
$nested-kbd-font-weight:      $font-weight-bold !default;

$pre-color:                         $gray-900 !default;
$pre-scrollable-max-height:         340px !default;

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-background:                    transparent !default;
$table-accent-background:             rgba($black, .05) !default;
$table-hover-background:              rgba($black, .075) !default;
$table-active-background:             $table-hover-background !default;

$table-border-width:          $border-width !default;
$table-border-color:          $gray-300 !default;

$table-head-background:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-background:               $gray-900 !default;
$table-dark-accent-background:        rgba($white, .05) !default;
$table-dark-hover-background:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($gray-900, 7.5%) !default;
$table-dark-color:            $body-background !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

$thumbnail-padding:                 .25rem !default;
$thumbnail-background:                      $body-background !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $gray-300 !default;
$thumbnail-border-radius:           $border-radius !default;
$thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;

$figure-caption-font-size:          90% !default;
$figure-caption-color:              $gray-600 !default;

$positions: static, relative, absolute, fixed, sticky;

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

$input-background: $white!default;
$input-border: 1px solid!default;
$input-border-color: $gray-900!default;
$input-height: 32px!default;
$input-min-width: 200px!default;
$input-padding-vertical: .375rem!default;
$input-padding-horizon: .5rem!default;
$input-margin: .5rem!default;

$input-disable-capacity: .65!default;
$input-focus-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  $input-border-color;

$button-block-spacing-y:         .5rem !default;