.nav-bar {
    border-color: transparent;
    border-radius: 2px;
    border-style: none;
    border-width: 0px;
}

.nav-bar-toggler {
    background: no-repeat center center;
    background-size: 24px 24px;
    border-style: none;
    border-width: 0;
    display: inline-block;
    font-size: 16px;
    height: 48px;
    line-height: 20px;
    vertical-align: middle;
    width: 48px;
}

.nav-button {
    border-style: none;
    border-width: 0;
    display: inline-block;
    font-size: 16px;
    height: 48px;
    line-height: 20px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    text-align: center;
    vertical-align: middle;
}
