.nav-bar {
    border-color: transparent;
    border-radius: 2px;
    border-style: none;
    border-width: 0px;
    text-align: left;
    width: 100%;
}

.nav-toggler {
    background: no-repeat center center;
    background-size: 24px 24px;
    border-style: none;
    border-width: 0;
    display: inline-block;
    font-size: 16px;
    height: 48px;
    line-height: 20px;
    vertical-align: middle;
    width: 48px;
}

.nav-group {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-group.inline {
    display: inline-flex;
}

.nav-group.column {
    flex-direction: column;
}

.nav-group.row {
    flex-direction: row;
}

.nav-entry {
    border-style: none;
    border-width: 0;
    display: inline-block;
    font-size: 16px;
    height: 48px;
    line-height: 20px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
