.nav-bar.light {
    color: #333;
    background-color: #e3e3e3;
}

.nav-bar-toggler.light {
    background-color: #e3e3e3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-bar-toggler.light:hover,
.nav-bar-toggler.light:focus {
    background-color: #eee;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 120, 215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-bar-toggler.light:focus {
    border-color: #333;
    border-style: dashed;
    border-width: 1px;
    outline-style: none;
    outline-width: 0px;
}

.nav-button.light {
    background-color: #e3e3e3;
    color: #333;
}

.nav-button.light:hover,
.nav-button.light:focus {
    background-color: #eee;
    color: #0078D7;
}

.nav-button.light:focus {
    border-color: #333;
    border-style: dashed;
    border-width: 1px;
    outline-style: none;
    outline-width: 0px;
}