.checkbox {

    input[type='checkbox'] {
        display: none;
    }

    .indicator {
        border-radius: $border-radius;
    }

    .indicator.checked {
        background-image: $checkbox-indicator-icon-checked;
    }
}