.radio {
    display: flex;

    input[type='radio'] {
        display: none;
    }

    .indicator {
        border-radius: 50%;
    }

    .indicator.checked {
        background-size: 75% 75%;
        background-image: $radio-indicator-icon-checked;
    }
}

.radio-group {
    min-width: $input-min-width;
    max-width: $input-max-width;
    flex-direction: column;

    &.no-min-width {
        min-width: 0;
    }

    &.no-max-width {
        max-width: 100%;
    }
}