@mixin choice-variant($color) {
    @include hover-focus {
        .indicator {
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  $color;
        }
    }

    .indicator {
        border-color: $color;
    }

    .indicator.checked {
        background-color: rgba($color, .5);
    }

    label {
        color: $color;
    }
}
