.img-fluid {
    max-width: 100%;
    width: auto;
    height: auto;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

figure img {
    margin-bottom: .5rem;
    line-height: 1rem;
}

figure caption {
    font-size: 90%;
    color: #777;
}